<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: 'Home'}) %>   <!--// partial Head //-->
    <body class="bg-image">
        
        <%- include('./partials/header') %>   <!--// partial Header //-->
        
        <div class="section px-0 py-0 has-text-centered is-full-desktop has-background-white">
            <img src="/img/img_home_2.jpg" alt="img_home">
        </div>
        
        <%- include('./partials/banner') %>   <!--// partial Banner //-->

        <main>
            
            <h1 class="title is-size-1 has-text-centered my-6">MIRA LO MAS VENDIDO</h1>

            <section class="columns is-vcentered">
                
                <div class="image column is-half">
                    <img src="/img/img_model_3.jpg" alt="Imagen Modelo">
                </div>

                
                <div class="column is-half">
                    <h2 class="subtitle has-text-centered is-size-2"> CASUAL</h2>
                    <div class="columns is-variable is-centered is-multiline">
                        
                        <div class="column  is-6-desktop mx-2 my-3">
                            <div class="card has-text-centered rounded">
                                <div class="card-image has-text-centered px-6">
                                    <img src="/img/products/img_Melisa.jpg" alt="Articulo Casual">
                                </div>
                                <div class="card-content">
                                    <p class="title is-size-5 mb-2">Sandalia Melisa</p>
                                    <p class="is-size-5">$6000</p>
                                </div>
                                <footer class="card-footer">
                                    <p class="card-footer-item">
                                        <a href="/producto/163" class="has-text-grey">Ver</a>
                                    </p>
                                    <p class="card-footer-item">
                                        <a href="" class="has-text-grey">Agregar al Carrito</a>
                                    </p>
                                </footer>
                            </div>
                        </div>
    
                        <div class="column is-6-desktop mx-2 my-3">
                            <div class="card has-text-centered rounded">
                                <div class="card-image has-text-centered px-6">
                                    <img src="/img/products/img_Fiama2.jpg" alt="Articulo Casual">
                                </div>
                                <div class="card-content">
                                    <p class="title is-size-5 mb-2">Sandalia Fiama</p>
                                    <p class="is-size-5">$6000</p>
                                </div>
                                <footer class="card-footer">
                                    <p class="card-footer-item">
                                        <a href="/producto/121" class="has-text-grey">Ver</a>
                                    </p>
                                    <p class="card-footer-item">
                                        <a href="" class="has-text-grey">Agregar al Carrito</a>
                                    </p>
                                </footer>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="section">
                
                <h3 class="subtitle has-text-centered is-size-2">FIESTA</h3>
                <div class="columns mt-5 is-8 is-variable is-centered">
                    
                    <div class="column is-4-tablet is-3-desktop">
                        <div class="card has-text-centered rounded">
                            <div class="card-image has-text-centered px-6 pt-5">
                                <img src="/img/products/img_Bianca.jpg" alt="Articulo relacionado">
                            </div>
                            <div class="card-content">
                                <p class="title is-size-5 mb-2">Sandalia Barbie</p>
                                <p class="is-size-5">$7000</p>
                            </div>
                            <footer class="card-footer">
                                <p class="card-footer-item">
                                    <a href="" class="has-text-grey">Ver</a>
                                </p>
                                <p class="card-footer-item">
                                    <a href="" class="has-text-grey">Agregar al Carrito</a>
                                </p>
                            </footer>
                        </div>
                    </div>

                    <div class="column is-4-tablet is-3-desktop">
                        <div class="card has-text-centered rounded">
                            <div class="card-image has-text-centered px-6 pt-5">
                                <img src="/img/products/img_Bernarda.jpg" alt="Articulo relacionado">
                            </div>
                            <div class="card-content">
                                <p class="title is-size-5 mb-2">Sandalia Bernarda</p>
                                <p class="is-size-5">$7000</p>
                            </div>
                            <footer class="card-footer">
                                <p class="card-footer-item">
                                    <a href="" class="has-text-grey">Ver</a>
                                </p>
                                <p class="card-footer-item">
                                    <a href="" class="has-text-grey">Agregar al Carrito</a>
                                </p>
                            </footer>
                        </div>
                    </div>

                    <div class="column is-4-tablet is-3-desktop">
                        <div class="card has-text-centered rounded">
                            <div class="card-image has-text-centered px-6 pt-5">
                                <img src="/img/products/img_Berenice.jpg" alt="Articulo relacionado">
                            </div>
                            <div class="card-content">
                                <p class="title is-size-5 mb-2">Sandalia Berenice</p>
                                <p class="is-size-5">$7000</p>
                            </div>
                            <footer class="card-footer">
                                <p class="card-footer-item">
                                    <a href="" class="has-text-grey">Ver</a>
                                </p>
                                <p class="card-footer-item">
                                    <a href="" class="has-text-grey">Agregar al Carrito</a>
                                </p>
                            </footer>
                        </div>
                    </div>
                    
                </div>

            </section>

            <h2 class="title is-size-1 has-text-centered my-6 pt-6 pb-3">NUESTRAS PROMOCIONES</h2>

            <section class="columns is-vcentered">

                <div class="column is-half">
                    <!-- <h2 class="subtitle has-text-centered is-size-2">SALE</h2> -->
                    <div class="columns is-variable is-centered is-multiline">
                        
                        <div class="column  is-6-desktop mx-2 my-3">
                            <div class="card has-text-centered rounded mx-4 my-4">
                                <img src="/img/img_sale.png" alt="Articulo Casual" class="image is-96x96 sale-tag z-index-1">
                                <div class="card-image has-text-centered px-6">
                                    <img src="/img/products/img_colonia.jpg" alt="Articulo Casual">
                                </div>
                                <div class="card-content">
                                    <p class="title is-size-5 mb-2">Botineta Colonia</p>
                                    <p>35% OFF</p>
                                    <span class="tachado">$6000</span>
                                    <p class="is-size-5">$3900</p>
                                </div>
                                <footer class="card-footer">
                                    <p class="card-footer-item">
                                        <a href="" class="has-text-grey">Ver</a>
                                    </p>
                                    <p class="card-footer-item">
                                        <a href="" class="has-text-grey">Agregar al Carrito</a>
                                    </p>
                                </footer>
                            </div>
                        </div>
    
                        <div class="column is-6-desktop mx-2 my-3">
                            <div class="card has-text-centered rounded mx-4 my-4">
                                <img src="/img/img_sale.png" alt="Articulo Casual" class="image is-96x96 sale-tag z-index-1">
                                <div class="card-image has-text-centered px-6">
                                    <img src="/img/products/img_tijuana.jpg" alt="Articulo Casual">
                                </div>
                                <div class="card-content">
                                    <p class="title is-size-5 mb-2">Bota Texas</p>
                                    <p>30% OFF</p>
                                    <span class="tachado">$6000</span>
                                    <p class="is-size-5">$4200</p>
                                </div>
                                <footer class="card-footer">
                                    <p class="card-footer-item">
                                        <a href="" class="has-text-grey">Ver</a>
                                    </p>
                                    <p class="card-footer-item">
                                        <a href="" class="has-text-grey">Agregar al Carrito</a>
                                    </p>
                                </footer>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="image column is-half">
                    <img src="/img/img_model_2.jpg" alt="Imagen Modelo">
                </div>

            </section>

        </main>
        
        <%- include('./partials/footer') %>   <!--// partial Footer //-->
        
    </body>
</html>