<section class="hero color-bbk is-small">
    <div class="hero-body columns">
        <div class="column">
            <p><i class="far fa-credit-card"></i> 3, 6 y 12 cuotas sin interés!</p>
        </div>
        <div class="column">
            <p><i class="fas fa-plane"></i> Envíos a todo el país gratis a partir de $3000</p>
        </div>
        <div class="column">
            <p><i class="fas fa-money-bill-wave"></i> 10% descuento pagando con débito o transferencia</p>
        </div>
        <div class="column">
            <p><i class="fab fa-whatsapp"></i> Tenés dudas? Contactanos y te asesoramos</p>
        </div>
    </div>
</section>