 <section class="section px-0 py-0 mt-6">
    
    
    
    <nav class="navbar has-shadow">

        <div class="navbar-menu">
            <div class="navbar-start pl-3">
                <ul>
                    <li><a href="/" class="navbar-item">Home</a></li>    
                    <li><a href="/producto" class="navbar-item">Colección</a></li>
                    <li><a href="/nosotros" class="navbar-item">Nosotros</a></li>
                    <li><a href="/como-comprar" class="navbar-item">Cómo comprar</a></li>
                </ul>
            </div>
        </div>

        <div class="navbar-menu">
            <div class="section">
                <h3 class="mb-2">SEGUINOS EN:</h3>
                <div class="container">
                    <div>
                        <a href="https://www.instagram.com/babiekazapatos/?hl=es-la" target="_BLANK"><i class="fab fa-instagram is-size-1 has-text-grey mr-2 color-ig"></i></a>
                        <a href="https://www.facebook.com/babiekazapatos/" target="_BLANK"><i class="fab fa-facebook-f is-size-1 has-text-grey ml-2 color-fb"></i></a>
                    </div>
                </div>
            </div>
        </div>

        
        
        <div class="navbar-menu">
            <div class="section">
                <h3 class="mb-2">CONTACTANOS!</h3>
                <div class="container">
                    <div>
                        <a href="#"><i class="fab fa-whatsapp is-size-1 has-text-grey mr-2 color-wa"></i></a>
                        <a href="#"><i class="far fa-envelope is-size-1 has-text-grey ml-2 color-em"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-menu pt-6">
                <figure class="mx-2">
                    <img src="/img/img_card_visa.png" alt="Visa">
                </figure>
                <figure class="mx-2">
                    <img src="/img/img_card_master.png" alt="MasterCard">
                </figure>
                <figure class="mx-2">
                <img src="/img/img_card_american.png" alt="American Express">
                </figure>
            </div>
        </div>

    </nav>

</section>

<footer class="footer has-background-white pb-5">
    
    <div class="content has-text-centered">
        <p>BABIEKA © 2021. Todos los derechos reservados.</p>
    </div>

    <script src="js/scriptsBulma.js" type="text/javascript"></script>

</footer>