<header class="has-background-white fixed z-index-2">

    <nav class="navbar has-shadow">
        
        <div class="navbar-brand">
            <a href="/" class="navbar-item">    <!--// Logo Babieka //-->
                <img src="/design/logo.jpg" alt="Logo">
            </a>
            <a class="navbar-burger" id="navbar-burger">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="navbar-menu" id="navbar-links">
            <div class="navbar-end has-text-centered">
                <!-- <a href="/usuario/listado" class="navbar-item">LIST USUARIOS</a>    
                <a href="/producto/listado" class="navbar-item">LIST ARTÍCULOS</a>
                <a href="/usuario/registro" class="navbar-item">ADD USUARIO</a>    
                <a href="/producto/crear" class="navbar-item">ADD ARTÍCULO</a> -->
                <a class="navbar-item">Mi Cuenta</a>
                <a class="navbar-item">CARRITO (0)</a>
            </div>
        </div>

    </nav>
    
    <!-- BREADCRUMB -->
    <!-- <nav class="navbar has-shadow">
        <div>
            <a class="navbar-burger" id="breadcrumb-burger">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <div class="navbar-menu" id="breadcrumb-links">
            <div class="navbar-start has-text-centered"> -->
                <div class="section py-5" id="breadcrumb">
                    <nav class="breadcrumb has-bullet-separator is-centered">
                        <ul class="container is-size-4">
                            <li><a href="/producto" class="has-text-grey fm-raleway">COLECCION</a></li>
                            <li><a href="/producto/sale" class="has-text-grey fm-raleway">SALE</a></li>
                            <li><a href="/como-comprar" class="has-text-grey fm-raleway">COMO COMPRAR</a></li>
                            <li><a href="/nosotros" class="has-text-grey fm-raleway">NOSOTROS</a></li>  
                        </ul>
                    </nav>
                </div>
            <!-- </div>
        </div>
    </nav> -->

    <!-- <div>  
        <i class="fas fa-bars menu"></i>
    </div> -->       
    <!-- <form action="/buscar" method="GET">
        <button></button>
        <input name="search" type="text" placeholder="Buscar">
    </form> -->

</header>
<div class="has-background-white py-6 mb-5"></div>